.cart {
    display: none;
    opacity: 0;

    &.show { animation: open_cart 0.2s 1 forwards; }
    &.hide { animation: close_cart 0.2s 1 forwards; }

    .cart-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        transition: none !important;

        .item {
            background-color: $color_box;
            min-height: 6em;
            margin-bottom: 2em;
            display: grid;
            grid-template-columns: auto 105px 105px;
            > div {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .title {
                justify-content: flex-start;
                font-weight: 700;
                span {
                    margin: 15px 0 15px 3em;
                }
            }
            .price {
                font-weight: 700;
            }
            .remove {
                transition: 0.1s ease-in-out;
                cursor: pointer;
                font-size: 1.5em;
            }
            .remove:hover {
                background-color: $color_orange;
                color: #fff;
            }
        }
    }

    .message {
        height: 6em;
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .inner {
            height: 100%;
            box-sizing: border-box;
            padding: 0 3em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: $color_box;
        }
    }

    .total-price {
        height: 6em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
        .inner {
            height: 100%;
            box-sizing: border-box;
            padding: 0 3em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: $color_box;
        }
    }
}

@include phone_large {
    .cart {
        .item {
            min-height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr !important;
            grid-template-areas: 'title title'
                                 'price remove';
            > div {
                width: 100%;
                height: 100px;
                min-height: 50px;
            }
            .title { 
                grid-area: title;
                span {
                    margin: 15px 3em 15px 3em !important;
                } 
            }
            .price { grid-area: price }
            .remove { grid-area: remove }
            .message span, .total-price span {
                font-size: 0.8em !important;
            }
        }
    }
}