
// Colors
$color_bg: #fff;
$color_box: #F6F6F6;
$color_gray: #A9A9A9;
$color_orange: #EB6029;
$color_brown: #A47E67;

// Font-Sizes
$font_regular: 13px;
$font_small: 12px;
$font_large: 16px;

// Sizes
$container_max_width: 1050px;